/*
  Styles for docs.html page
*/

@import "../all";

/* Layout rules */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px 20px;
  font-size: 0;
  line-height: 1;
  z-index: 9999;
  h1 {
    font-size: 24px;
  }
  .headings,
  .navigation {
    display: inline-block;
    width: 50%;
    font-size: $mw-font-size;
    vertical-align: middle;
  }
  .navigation {
    text-align: right;
    a {
      color: $mw-neutral-text-inverted;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  h1 {
    margin: 0;
  }
}
.main-wrap {
  margin-top: 90px;
  .wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  .section,
  .subsection {
    display: none;
    &.visible {
      display: block;
    }
  }
  .section {
    @extend .mw-article;
  }
}

/* Module rules */
.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 1px solid $MW_COLOR_GRAY_1;
  &.neutral1 {
    background: $MW_COLOR_GRAY_1;
  }
  &.neutral2 {
    background: $MW_COLOR_GRAY_2;
  }
  &.neutral3 {
    background: $MW_COLOR_GRAY_3;
  }
  &.neutral4 {
    background: $MW_COLOR_GRAY_4;
  }
  &.neutral5 {
    background: $MW_COLOR_GRAY_5;
  }
  &.neutral6 {
    background: $MW_COLOR_GRAY_6;
  }
  &.gradient1 {
    background: $mw-bg-gradient-1;
  }
  &.gradient2 {
    background: $mw-bg-gradient-2;
  }
  &.gradient1-v {
    background: $mw-bg-gradient-1-vertical;
  }
  &.gradient2-v {
    background: $mw-bg-gradient-2-vertical;
  }
  &.gradient1-h {
    background: $mw-bg-gradient-1-horizontal;
  }
  &.gradient2-h {
    background: $mw-bg-gradient-2-horizontal;
  }
  &.text-primary {
    background: $mw-neutral-text;
  }
  &.text-secondary {
    background: $mw-neutral-gfx;
  }
  &.bg-primary {
    background: $mw-background-primary;
  }
  &.bg-secondary {
    background: $mw-background-secondary;
  }
  &.border {
    background: $mw-border;
  }
  &.action {
    background: $mw-action-gfx;
  }
  &.error {
    background: $mw-error-text;
  }
  &.warning {
    background: $mw-warning;
  }
  &.inactive {
    background: $mw-disabled;
  }
  &.inverted {
    background: $mw-neutral-text-inverted;
  }
}
.inline-box {
  display: inline-block;
  vertical-align: middle;
}
.row {
  display: block;
  padding: 10px 0;
}
.description {
  margin: 5px 0;
}
.example {
  background: $mw-background-secondary;
  padding: 20px;
  margin: 5px 0;
}
.underline {
  border-bottom: 1px solid $mw-border;
}
.demo {
  padding: 20px;
  border: 1px solid $mw-border;
  margin-bottom: 20px;
}
#typo .demo {
  a {
    &.force-default {
      color: $mw-action-text;
      &:hover {
        color: darken($mw-action-text, 20);
      }
    }
    &.force-visited {
      color: darken($mw-action-text, 20);
      &:hover {
        color: $mw-action-text;
      }
    }
  }
}
code,
pre {
  background: $mw-background-secondary;
}
.negative-bg {
  display: inline-block;
  padding-left: 10px;
  background: $MW_COLOR_GRAY_2;
}
.skin-demo {
  height: 100px;
  padding: 20px;
}
