/*
  Styles for docs.html page
*/

@import "../myworkout-styles-library";

/* Layout rules */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px 20px;
  font-size: 0;
  background: $mw-gradient-brand-1;
  color: $mw-color-neutral-6;
  line-height: 1;
  .headings,
  .navigation {
    display: inline-block;
    width: 50%;
    font-size: $mw-default-font-size;
    vertical-align: middle;
  }
  .navigation {
    text-align: right;
    a {
      color: $mw-color-neutral-6;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  h1 {
    margin: 0;
  }
}
.main-wrap {
  margin-top: 110px;
  .wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: $mw-color-neutral-6;
  }
  .section,
  .subsection {
    display: none;
    &.visible {
      display: block;
    }
  }
}

/* Module rules */
.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 1px solid $mw-color-neutral-1;
  &.brand1 {
    background: $mw-color-brand-1;
  }
  &.brand2 {
    background: $mw-color-brand-2;
  }
  &.neutral1 {
    background: $mw-color-neutral-1;
  }
  &.neutral2 {
    background: $mw-color-neutral-2;
  }
  &.neutral3 {
    background: $mw-color-neutral-3;
  }
  &.neutral4 {
    background: $mw-color-neutral-4;
  }
  &.neutral5 {
    background: $mw-color-neutral-5;
  }
  &.neutral6 {
    background: $mw-color-neutral-6;
  }
  &.positive {
    background: $mw-color-positive-feedback;
  }
  &.negative {
    background: $mw-color-negative-feedback;
  }
  &.gradient1 {
    background: $mw-gradient-brand-1;
  }
  &.gradient2 {
    background: $mw-gradient-brand-2;
  }
}
.inline-box {
  display: inline-block;
  vertical-align: middle;
}
.row {
  display: block;
  border-bottom: 1px solid $mw-color-neutral-4;
  padding: 10px 0;
}
.description {
  margin: 5px 0;
}
.example {
  background: $mw-color-neutral-5;
  padding: 20px;
  margin: 5px 0;
}
.underline {
  border-bottom: 1px solid $mw-color-neutral-4;
}
.demo {
  padding: 20px;
  border: 1px solid$mw-color-neutral-4;
}
#base .demo {
  a {
    &.force-default {
      color: $mw-color-brand-2;
      &:hover {
        color: $mw-color-brand-1;
      }
    }
    &.force-visited {
      color: $mw-color-brand-1;
      &:hover {
        color: $mw-color-brand-2;
      }
    }
  }
}