/*
  Styles for docs.html page
*/

@import "../myworkout-styles-library";

/* Layout rules */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 16px 20px;
  font-size: 0;
  background: $mw-bg-gradient-1;
  color: $color-inverted;
  line-height: 1;
  .headings,
  .navigation {
    display: inline-block;
    width: 50%;
    font-size: $mw-font-size;
    vertical-align: middle;
  }
  .navigation {
    text-align: right;
    a {
      color: $color-inverted;
      text-decoration: none;
      margin-left: 10px;
    }
  }
  h1 {
    margin: 0;
  }
}
.main-wrap {
  margin-top: 110px;
  .wrap {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  .section,
  .subsection {
    display: none;
    &.visible {
      display: block;
    }
  }
}

/* Module rules */
.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  border: 1px solid $MW_COLOR_NEUTRAL_1;
  &.brand1 {
    background: $MW_COLOR_BRAND_1;
  }
  &.brand2 {
    background: $MW_COLOR_BRAND_2;
  }
  &.neutral1 {
    background: $MW_COLOR_NEUTRAL_1;
  }
  &.neutral2 {
    background: $MW_COLOR_NEUTRAL_2;
  }
  &.neutral3 {
    background: $MW_COLOR_NEUTRAL_3;
  }
  &.neutral4 {
    background: $MW_COLOR_NEUTRAL_4;
  }
  &.neutral5 {
    background: $MW_COLOR_NEUTRAL_5;
  }
  &.neutral6 {
    background: $MW_COLOR_NEUTRAL_6;
  }
  &.accent1 {
    background: $MW_COLOR_ACCENT_1;
  }
  &.accent2 {
    background: $MW_COLOR_ACCENT_2;
  }
  &.gradient1 {
    background: $mw-bg-gradient-1;
  }
  &.gradient2 {
    background: $mw-bg-gradient-2;
  }
  &.text-primary {
    background: $color-text-primary;
  }
  &.text-secondary {
    background: $color-text-secondary;
  }
  &.bg-primary {
    background: $color-background-primary;
  }
  &.bg-secondary {
    background: $color-background-secondary;
  }
  &.border-primary {
    background: $color-border-primary;
  }
  &.border-secondary {
    background: $color-border-secondary;
  }
  &.action {
    background: $color-action;
  }
  &.error {
    background: $color-error;
  }
  &.warning {
    background: $color-warning;
  }
  &.inactive {
    background: $color-inactive;
  }
  &.inverted {
    background: $color-inverted;
  }
}
.inline-box {
  display: inline-block;
  vertical-align: middle;
}
.row {
  display: block;
  border-bottom: 1px solid $color-border-primary;
  padding: 10px 0;
}
.description {
  margin: 5px 0;
}
.example {
  background: $color-background-secondary;
  padding: 20px;
  margin: 5px 0;
}
.underline {
  border-bottom: 1px solid $color-border-primary;
}
.demo {
  padding: 20px;
  border: 1px solid $color-border-primary;
}
#base .demo {
  a {
    &.force-default {
      color: $color-action;
      &:hover {
        color: darken($color-action, 20);
      }
    }
    &.force-visited {
      color: darken($color-action, 20);
      &:hover {
        color: $color-action;
      }
    }
  }
}