/*
Provides all MSL base rules
 */

body {
  font-family: $mw-font;
  font-size: $mw-font-size;
  font-weight: $mw-font-weight;
  background: $mw-color-background-primary;
  color: $mw-color-neutral-text;
  line-height: $mw-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  box-sizing: border-box;
}
a {
  color: $mw-color-action-text;
  transition: all .3s ease;
  &:hover {
    color: darken($mw-color-action-text, 20);
  }
  &:visited,
  &:active,
  &:focus {
    color: darken($mw-color-action-text, 20);
    &:hover {
      color: $mw-color-action-text;
    }
  }
  &::selection {
    color: $mw-color-neutral-text;
  }
}
strong,
b {
  font-weight: 600;
}
::selection {
  background: lighten(#0EBBC9, 20);
}
