/*
Provides SASS constants with Myworkout design details.
These values should not be updated by client apps.
 */

/*
  Fonts
 */
$MW_BRAND_FONT_FAMILY: 'Mulish', sans-serif;
$MW_DEFAULT_FONT_SIZE: 16px;
$MW_DEFAULT_FONT_WEIGHT: 400;
$MW_DEFAULT_LINE_HEIGHT: 1.4;

/*
* Colour palette
 */
$MW_COLOR_GRAY_1: #1F2626;
$MW_COLOR_GRAY_2: #4B5454;
$MW_COLOR_GRAY_3: #657B7C;
$MW_COLOR_GRAY_4: #C5CFD0;
$MW_COLOR_GRAY_5: #F3F5F5;
$MW_COLOR_GRAY_6: #FFFFFF;
$MW_COLOR_RED_1: #FF735C;
$MW_COLOR_RED_2: #FF482A;
$MW_COLOR_RED_3: #DB1D00;
$MW_COLOR_ORANGE_1: #FEC15F;
$MW_COLOR_ORANGE_2: #FEAE5F;
$MW_COLOR_ORANGE_3: #E47301;
$MW_COLOR_GREEN_1: #82BF8C;
$MW_COLOR_GREEN_2: #428056;
$MW_COLOR_BLUE_1: #0CA1AC;
$MW_COLOR_BLUE_2: #0A7B8A;
$MW_COLOR_BLUE_3: #2D4B7B;
