@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  src: url(https://dist.myworkout.com/fonts/mulish-v12-latin-regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  src: url(https://dist.myworkout.com/fonts/mulish-v12-latin-700.woff2) format('woff2');
}

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: bold;
  src: url(https://dist.myworkout.com/fonts/baloo-2-v14-latin-700.woff2) format('woff2');
}
