@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: normal;
  src: url(https://dist.myworkout.com/fonts/Mulish-Regular.ttf);
}

@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: bold;
  src: url(https://dist.myworkout.com/fonts/Mulish-Bold.ttf);
}

@font-face {
  font-family: 'Baloo 2';
  font-style: normal;
  font-weight: bold;
  src: url(https://dist.myworkout.com/fonts/Baloo2-Bold.ttf);
}
