/*
Provides SASS mixins
 */

@use "sass:color";
@use "constants" as *;
@use "variables" as *;

@mixin mw-button ($button-color, $text-color, $type: null) {
  $height: 44px;
  $border-width: 1px;
  $hover-darken: 7;
  $active-darken: 14;
  $color-background: $button-color;
  $color-background-hover: color.adjust($button-color, $lightness: -$hover-darken * 1%);
  $color-background-active: color.adjust($button-color, $lightness: -$active-darken * 1%);
  $color-border: $button-color;
  $color-border-hover: color.adjust($button-color, $lightness: -$hover-darken * 1%);
  $color-border-active: color.adjust($button-color, $lightness: -$active-darken * 1%);
  $color-text: $text-color;
  $color-text-hover: $text-color;
  $color-text-active: $text-color;
  $color-border-focus: color.adjust($button-color, $lightness: -$active-darken * 1%);
  $color-background-disabled: $mw-color-disabled;
  $color-border-disabled: $mw-color-disabled;
  $color-text-disabled: $mw-color-neutral-text-inverted;
  @if $type == negative {
    $color-background: none;
    $color-background-hover: none;
    $color-background-active: none;
    $color-border: $button-color;
    $color-border-hover: color.adjust($button-color, $lightness: -$hover-darken * 1%);
    $color-border-active: color.adjust($button-color, $lightness: -$active-darken * 1%);
    $color-text: $text-color;
    $color-text-hover: color.adjust($button-color, $lightness: -$hover-darken * 1%);
    $color-text-active: color.adjust($button-color, $lightness: -$active-darken * 1%);
    $color-border-focus: $text-color;
    $color-background-disabled: none;
    $color-border-disabled: rgba($button-color, .4);
    $color-text-disabled: rgba($color-text, .4);
  }
  @if $type == simple {
    $color-background-hover: rgba($button-color, .1);
    $color-background-active: rgba($button-color, .2);
    $color-text-hover: color.adjust($text-color, $lightness: -$hover-darken * 1%);
    $color-border-focus: $text-color;
    $color-background: transparent;
    $color-border: transparent;
    $color-background-disabled: transparent;
    $color-border-disabled: transparent;
    $color-text-disabled: rgba($color-text, .4);
  }
  display: inline-block;
  font-family: $mw-font;
  font-weight: $mw-standard-font-weight;
  line-height: $height - $border-width * 2;
  font-size: 19px;
  color: $color-text;
  border: 1px solid $color-border;
  background: $color-background;
  margin: 0;
  padding: 0 24px;
  cursor: pointer;
  border-radius: 4px;
  transition: all .3s ease;
  &:hover {
    color: $color-text-hover;
    border-color: $color-border-hover;
    background-color: $color-background-hover;
  }
  &:active {
    color: $color-text-active;
    border-color: $color-border-active;
    background-color: $color-background-active;
  }
  &:focus {
    outline: none;
    border-color: $color-border-focus;
    box-shadow: 0 0 0 1px $color-border-focus;
  }
  &:disabled {
    color: $color-text-disabled;
    background-color: $color-background-disabled;
    border-color: $color-border-disabled;
    cursor: auto;
  }
  &.mw-full-width {
    width: 100%;
  }
}

@mixin debossed {
  background-color: #EDF1F1;
  box-shadow: 0 1px 0 $mw-color-background-primary,
    inset 0 1px 0 $mw-color-shadow,
    inset 0 2px 4px color.change($mw-color-shadow, $alpha: 0.2);
}
