/*
Provides SASS variables with Myworkout design details.
These values can be updated by client apps when appropriate.
 */

/*
  Fonts
 */
$mw-font: $MW_BRAND_FONT_FAMILY;
$mw-font-size: $MW_DEFAULT_FONT_SIZE;
$mw-standard-font-weight: $MW_DEFAULT_FONT_WEIGHT;
$mw-highlight-font-weight: $MW_BOLD_FONT_WEIGHT;
$mw-line-height: $MW_DEFAULT_LINE_HEIGHT;

/*
* Gradient backgrounds
 */
$mw-bg-gradient-1: linear-gradient(to bottom right, #0EBBC9, #5E46BD);
$mw-bg-gradient-2: linear-gradient(to bottom right, #FEC15F, #FF482A);
$mw-bg-gradient-1-horizontal: linear-gradient(to right, #0EBBC9, #5E46BD);
$mw-bg-gradient-2-horizontal: linear-gradient(to right, #FEC15F, #FF482A);
$mw-bg-gradient-1-vertical: linear-gradient(to bottom, #0EBBC9, #5E46BD);
$mw-bg-gradient-2-vertical: linear-gradient(to bottom, #FEC15F, #FF482A);
$mw-bg-gradient-red: linear-gradient(to bottom right, #FE8947, #FF482A);
$mw-bg-gradient-orange-1: linear-gradient(to bottom right, #FEC15F, #FC4A35);
$mw-bg-gradient-orange-2: linear-gradient(to bottom right, #FEC15F, #FE865F);
$mw-bg-gradient-blue: linear-gradient(to bottom right, #0EBBC9, #5E46BD);
$mw-bg-gradient-green: linear-gradient(to bottom right, #0EBBC9, #AEBF82);
$mw-bg-gradient-yellow: linear-gradient(to bottom right, #FFE298, #FEC15F);
$mw-bg-gradient-gold: linear-gradient(135deg, #FFE9A1 0%, #E2BF51 50%, #B59633 50%, #705806 100%);
$mw-bg-gradient-silver: linear-gradient(135deg, #F3F5F5 0%, #A9B1B1 50%, #8A9495 50%, #293333 100%);
$mw-bg-gradient-bronze: linear-gradient(135deg, #F7DBBF 0%, #C59566 50%, #A66C31 50%, #502902 100%);

/*
* Common colour definitions
 */
$mw-color-background-primary: $MW_COLOR_GRAY_6;
$mw-color-background-secondary: $MW_COLOR_GRAY_5;
$mw-color-background-inverted: $MW_COLOR_GRAY_2;
$mw-color-neutral-text: $MW_COLOR_GRAY_1;
$mw-color-neutral-text-inverted: $MW_COLOR_GRAY_6;
$mw-color-neutral-gfx: $MW_COLOR_GRAY_2;
$mw-color-action-text: $MW_COLOR_BLUE_2;
$mw-color-action-gfx: $MW_COLOR_BLUE_1;
$mw-color-error-text: $MW_COLOR_RED_3;
$mw-color-error-gfx: $MW_COLOR_RED_2;
$mw-color-warning: $MW_COLOR_ORANGE_3;
$mw-color-placeholder: $MW_COLOR_GRAY_3;
$mw-color-disabled: $MW_COLOR_GRAY_4;
$mw-color-border: transparentize($MW_COLOR_GRAY_4, 0.2);
$mw-color-border-inverted: $MW_COLOR_GRAY_2;
$mw-color-shadow: transparentize($MW_COLOR_GRAY_4, 0.2);
$mw-color-shadow-inverted: $MW_COLOR_GRAY_2;
$mw-color-outline: $MW_COLOR_BLUE_1;
$mw-color-hover: transparentize($MW_COLOR_GRAY_4, 0.7);
$mw-color-dialog-background: transparentize($MW_COLOR_GRAY_2, 0.6);
$mw-color-page-title-drop-shadow: $MW_COLOR_BLUE_3;
$mw-color-info-box-background: transparentize($MW_COLOR_GRAY_1, 0.6);
