/*
Provides classes for form elements
 */

@use "../constants" as *;
@use "../variables" as *;

.mw-input-model {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  font-family: $mw-font;
  font-size: 19px;
  font-weight: $mw-standard-font-weight;
  line-height: $mw-line-height;
  color: $mw-color-neutral-text;
  height: 44px;
  background: none;
  outline: none;
  box-shadow: none;
  margin: 0;
  &::placeholder {
    color: $mw-color-placeholder;
  }
  &:disabled {
    cursor: auto;
    opacity: .6;
  }
}
.mw-input-underline {
  &::after {
    content: " ";
    display: block;
    height: 1px;
    background: $mw-bg-gradient-1-horizontal;
  }
  &.mw-error {
    &::after {
      background: $mw-bg-gradient-2-horizontal;
    }
  }
  &.mw-disabled {
    &::after {
      opacity: .3;
    }
  }
}
.mw-fallback-css .mw-input-underline {
  &::after {
    content: " ";
    display: block;
    height: 1px;
    background: $mw-color-action-gfx;
  }
  &.mw-error {
    &::after {
      background: $mw-color-error-text;
    }
  }
}
.mw-input {
  width: 328px;
  border: 1px solid $mw-color-border;
  border-radius: 4px;
  padding: 0 15px;
  @extend .mw-input-model;
  &:focus {
    padding: 0 14px;
    border: 2px solid $mw-color-action-gfx;
    box-shadow: none;
    background: none;
  }
  &.mw-error {
    border: 2px solid $mw-color-error-text;
    padding: 0 40px 0 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='22px' height='21px' viewBox='0 0 22 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='/Input/Icon/Error' fill='%23FF482A'%3E%3Cpolygon id='Page-1' points='8.92528868 0 8.92528868 8.06598315 1.28224327 5.57340248 0 9.53408725 7.64304541 12.0266679 2.91946078 18.552084 6.27625977 21 10.9999481 14.4744798 15.7236365 21 19.0805392 18.552084 14.3567471 12.0266679 22 9.53408725 20.7177567 5.57340248 13.0746076 8.06598315 13.0746076 0'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
}
.mw-special-input-wrap {
  display: inline-block;
  width: 100%;
  max-width: 330px;
  @extend .mw-input-underline;
  input {
    height: 49px;
    max-width: 100%;
    border: none;
    padding: 0 8px;
    @extend .mw-input-model;
    &:focus {
      border: none;
      box-shadow: none;
      background: none;
    }
  }
}
.mw-checkbox-wrap {
  display: inline-block;
  input[type="checkbox"], input[type="radio"] {
    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    & + label {
      display: inline-block;
      position: relative;
      box-sizing: border-box;
      cursor: pointer;
      padding: 0 15px 0 0;
      height: 44px;
      line-height: 44px;
      font-size: 19px;
      margin: 0;
    }
    // box
    & + label:before {
      box-sizing: content-box;
      content: '';
      margin: 0 8px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      border: 1px solid $mw-color-border;
      border-radius: 50%;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      transition: all .2s ease-out;
    }
    // box hover
    &:hover + label:before {
      border: 1px solid $mw-color-border;
    }
    // box focus
    &:focus + label:before {
      // nothing on focus
    }
    // box checked
    &:checked + label:before {
      border: 1px solid $mw-color-action-gfx;
      background-color: $mw-color-action-gfx;
      background-image: url("data:image/svg+xml,%3Csvg width='14px' height='10px' viewBox='0 0 14 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='-/Checkbox/Checked' transform='translate(-4.000000, -6.000000)' stroke-width='1.2244898' stroke='%23FFFFFF'%3E%3Cpolyline id='Left-check' points='5 11.0463088 9.11306122 15 17 7'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    }
    // disabled state label
    &:disabled + label {
      color: $mw-color-disabled;
      cursor: auto;
    }
    // disabled box.
    &:disabled + label:before {
      background: $mw-color-background-secondary;
    }
  }
}
.mw-special-checkbox-fluid-wrap {
  @extend .mw-checkbox-wrap;
  @extend .mw-input-underline;
  input[type="checkbox"], input[type="radio"] {
    & + label {
      height: 50px;
      line-height: 50px;
    }
  }
}
.mw-special-checkbox-wrap {
  @extend .mw-checkbox-wrap;
  @extend .mw-input-underline;
  input[type="checkbox"], input[type="radio"] {
    & + label {
      width: 330px;
      height: 50px;
      line-height: 50px;
    }
  }
  &.mw-full-width {
    input[type="checkbox"], input[type="radio"] {
      & + label {
        width: 100%;
      }
    }
  }
}
.mw-negative-checkbox-wrap {
  @extend .mw-checkbox-wrap;
  input[type="checkbox"], input[type="radio"] {
    & + label {
      color: $mw-color-neutral-text-inverted;
    }
    &:checked + label:before {
      background-color: $mw-color-background-primary;
      border: 1px solid $mw-color-border;
      background-image: url("data:image/svg+xml,%0A%3Csvg width='14px' height='10px' viewBox='0 0 14 10' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Symbols' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='Filter/Unchecked' transform='translate(-5.000000, -7.000000)' stroke-width='1.2244898' stroke='%23657272'%3E%3Cg id='-/Checkbox/Checked' transform='translate(1.000000, 1.000000)'%3E%3Cpolyline id='Left-check' points='5 11.0463088 9.11306122 15 17 7'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    }
    &:hover + label:before {
      border: 1px solid $mw-color-border;
    }
    &:disabled + label:before {
      background: $mw-color-disabled;
    }
  }
}
.mw-select-wrap {
  display: inline-block;
  vertical-align: middle;
  padding: 0 50px 0 0;
  margin: 0;
  border: 1px solid $mw-color-border;
  border-radius: 3px;
  overflow: hidden;
  background-color: $mw-color-background-inverted;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='21px' height='12px' viewBox='0 0 21 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 48.1 (47250) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3E%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Form/Field/Select' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' transform='translate(-244.000000, -16.000000)' stroke-linecap='round'%3E%3Cpolyline id='-' stroke='%23FFFFFF' points='265 17 254.5 27 244 17'%3E%3C/polyline%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;
  width: 328px;
  select {
    font-family: $mw-font;
    font-size: 19px;
    font-weight: $mw-standard-font-weight;
    padding: 0 20px;
    width: calc(100% + 50px); // pixels to add on 100% gotta be same as right padding of .mw-select-wrap
    height: 44px;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    appearance: none;
    color: $mw-color-neutral-text-inverted;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &:disabled {
      cursor: auto;
    }
    option {
      color: $mw-color-neutral-text;
    }
  }
  &.mw-error {
    border: 2px solid $mw-color-error-text;
  }
  &.mw-disabled {
    background-color: $mw-color-disabled;
    border-color: $mw-color-disabled;
  }
}
.mw-select-fluid-wrap {
  @extend .mw-select-wrap;
  width: auto;
  padding: 0 70px 0 0;
  select {
    width: calc(100% + 70px); // pixels to add on 100% gotta be same as right padding of .mw-select-fluid-wrap
  }
}
.mw-switch {
  padding: 10px 0;
  input[type="checkbox"] {
    &:not(:checked),
    &:checked {
      position: absolute;
      left: -9999px;
    }
    &:not(:checked) + label,
    &:checked + label {
      position: relative;
      font-family: $mw-font;
      font-weight: $mw-standard-font-weight;
      font-size: 19px;
      padding-left: 85px;
      padding-top: 10px;
      cursor: pointer;
      margin: 0;
      line-height: $mw-line-height;
      color: $mw-color-neutral-text;
    }
    &:not(:checked) + label:before,
    &:checked + label:before,
    &:not(:checked) + label:after,
    &:checked + label:after {
      content: '';
      position: absolute;
      height: 36px;
      transition: all .3s ease;
      box-sizing: content-box;
    }
    &:not(:checked) + label:before,
    &:checked + label:before {
      left: 0;
      top: 0;
      width: 65px;
      border: 4px solid $mw-color-disabled;
      background: $mw-color-disabled;
      border-radius: 22px;
      z-index: -1;
    }
    &:not(:checked) + label:after,
    &:checked + label:after {
      left: 4px;
      top: 4px;
      background-color: $mw-color-background-primary;
      border-radius: 50%;
      width: 36px;
    }
    &:checked + label:after {
      left: 32px;
    }
    &:checked + label:before {
      background-color: $mw-color-action-gfx;
      border-color: $mw-color-action-gfx;
    }
    &:disabled + label {
      opacity: .5;
      cursor: auto;
    }
  }
}
.mw-label {
  display: inline-block;
  color: $mw-color-neutral-text;
  font-size: 16px;
  padding: 2px 0 4px 0;
  line-height: $mw-line-height;
}
