/*
Provides all MSL skin classes: partial styles for HTML elements
 */

.mw-brand-bg {
  background: $mw-bg-gradient-1;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0EBBC9', endColorstr='#5E46BD',GradientType=0 );
  color: $mw-neutral-text-inverted;
}
.mw-accent-bg {
  background: $mw-bg-gradient-2;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF482A', endColorstr='#FFC255',GradientType=0 );
  color: $mw-neutral-text-inverted;
}
.mw-brand-underline {
  &::after {
    content: " ";
    display: block;
    height: 1px;
    background: linear-gradient(90deg, #0EBBC9, #5E46BD);
  }
}
.mw-fallback-css .mw-brand-underline::after {
  background: #0EBBC9;
}
.mw-accent-underline {
  @extend .mw-brand-underline;
  &::after {
    background: linear-gradient(90deg, $MW_COLOR_ORANGE_1, $MW_COLOR_RED_2);
  }
}
.mw-fallback-css .mw-accent-underline::after {
  background: $MW_COLOR_ORANGE_1;
}
.mw-blur {
  filter: blur(5px);
}
.mw-blur-hard {
  filter: blur(10px);
}
.mw-box-shadow {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
}
.mw-box-shadow-hover {
  transition: all .3s ease;
  &:hover {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  }
}
